@import "./settings/normalize.css";
@import "./settings/variables.css";
@import "./settings/typography.css";
@import "./settings/fontawesome.css";

@import "./layout/header.css";
@import "./layout/nav.css";
@import "./layout/about.css";
@import "./layout/portfolio.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}
