.welcome-heading {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue-c);
}

.welcome-heading:after,
.section-heading:after {
    content: "";
    margin: 15px auto;
    display: block;
    width: 70px;
    height: 1px;
    background-color: var(--blue-c);
}

.welcome-subheading {
    font-size: 1.2em;
    margin-bottom: 32px;
    color: var(--dark-grey-c);
}

.section-heading {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--dark-grey-c);
}

.paragraph {
    margin: 30px 0;
    line-height: 1.4em;
    color: var(--light-grey-c);
}
