#contact {
    padding: 120px 20px;
}

.contact__form {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.text-input {
    width: 100%;
    border: 1px solid var(--light-grey-c);
    margin: 8px auto;
    padding: 10px;
    color: var(--dark-grey-c);
}

.text-input:focus {
    outline: none;
    border: 1px solid var(--blue-c);
}

.contact__form textarea {
    height: 100px;
}

.socials i {
    margin: 20px;
    font-size: 2.5em;
    color: var(--blue-c);
}
