#contact {
    padding: 120px 0;
}

.contact__form {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 700px;
}

.text-input {
    width: 100%;
    border: 1px solid var(--light-grey-c);
    margin: 8px 0;
    padding: 10px;
    color: var(--dark-grey-c);
}

.text-input:focus {
    outline: none;
    border: 1px solid var(--blue-c);
}

.contact__form textarea {
    width: 100%;
    height: 100px;
}

.socials i {
    margin: 20px;
    font-size: 2.5em;
    color: var(--blue-c);
}

.socials i:hover {
    color: var(--dark-grey-c);
}

@media (min-width: 480px) {
    .contact__form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .text-input {
        width: 49%;
    }
}
