#header {
    display: flex;
    height: 67vh;
    background: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__content {
    margin: auto;
    text-align: center;
}

.fa-circle {
    margin: 0 5px;
    vertical-align: middle;
    font-size: 5px;
    color: var(--blue-c);
}

.button {
    padding: 10px 20px;
    border: 1px solid var(--blue-c);
    background-color: transparent;
    text-transform: uppercase;
    color: var(--dark-grey-c);
    cursor: pointer;
}

.button:hover {
    background-color: var(--blue-c);
    color: white;
}
