#header {
    display: flex;
    height: 67vh;
    background: url("../../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__content {
    margin: auto;
}

.fa-circle {
    margin: 0 5px;
    vertical-align: middle;
    font-size: 5px;
    color: var(--blue-c);
}
