nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: var(--blue-c);
    list-style-type: none;
}

.menu__element {
    display: none;
    list-style-type: none;
}

.menu__element a {
    color: white;
}

.menu__element--mobile {
    display: block;
    text-align: right;
    font-size: 1.5rem;
    color: white;
}

@media (min-width: 480px) {
    .menu__element {
        display: inline-block;
        padding: 0 25px;
        font-size: 0.9rem;
        text-transform: uppercase;
    }

    .menu__element--mobile {
        display: none;
    }
} ;
