#portfolio {
    padding: 120px 15px;
    background-color: var(--grey-c);
}

.portfolio__container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.image__container {
    margin: auto;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: 125%;
    background-repeat: no-repeat;
}

.image__container:hover:after {
    content: "Projekt";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 3em;
    font-weight: 300;
    background-color: rgba(0, 123, 255, 0.8);
    color: #fff;
    cursor: pointer;
}

.photo-1 {
    background-image: url("../../img/portfolio/photo-1.jpg");
}
.photo-2 {
    background-image: url("../../img/portfolio/photo-2.jpg");
}
.photo-3 {
    background-image: url("../../img/portfolio/photo-3.jpg");
}
.photo-4 {
    background-image: url("../../img/portfolio/photo-4.jpg");
}
.photo-5 {
    background-image: url("../../img/portfolio/photo-5.jpg");
}
.photo-6 {
    background-image: url("../../img/portfolio/photo-6.jpg");
}
.photo-7 {
    background-image: url("../../img/portfolio/photo-7.jpg");
}
.photo-8 {
    background-image: url("../../img/portfolio/photo-8.jpg");
}
.photo-9 {
    background-image: url("../../img/portfolio/photo-9.jpg");
}
.photo-10 {
    background-image: url("../../img/portfolio/photo-10.jpg");
}
.photo-11 {
    background-image: url("../../img/portfolio/photo-11.jpg");
}
.photo-12 {
    background-image: url("../../img/portfolio/photo-12.jpg");
}
